{% extends 'base.html' %}
{% block 'main' %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>cONTACT PAGE</title>
  </head>
  <body>
    <!-- As a heading -->
    {% if success %}
            <div class="alert alert-success p-3" role="alert">
                  {{success}}
              </div>
    {% endif %}

    <h1 class="text-center">Contact Us</h1>
    <form method="POST" class="was-validated">
        {% csrf_token %}
    <div class="mb-3">
        <label for="Input1" class="form-label">Your Name</label>
        <input type="text" class="form-control" id="Input1" placeholder="Your Name" name="name" required>
      </div>
      <div class="mb-3">
        <label for="Input2" class="form-label">Your Email</label>
        <input type="email" class="form-control" id="Input2" placeholder="name@example.com" name="email" required>
      </div>
      <div class="mb-3">
        <label for="Textarea1" class="form-label">Subject</label>
        <textarea class="form-control" id="Textarea1" rows="3" placeholder="write something" name="subject" required></textarea>
      </div>
      <input type="submit" class="btn btn-success btn-lg mt-1 ml-4" value="submit">
    </form>
  </body>
</html>
{% endblock 'main' %}