{% load static %}
<div class="row mt-4 bg-secondary">
    <div class="col-md-4 p-3">
        <h5>Address</h5><hr>
        1st Floor,Sky Building,<br>
        Near Saras Baug,<br>
        Pune-411009,<br>
        Maharashtra,<br>
        Contact: 7276099602
    </div><!--address end-->
    <div class="col-md-4 p-3">
        <h5>Quick Links</h5><hr>
        <a href="/products" class="anchore"><strong>Home</strong></a><br>
        <a href="/about" class="anchore"><strong>About</strong></a><br>
        <a href="/contact" class="anchore"><strong>Contact</strong></a><br>
    </div><!--quick links end-->
    <div class="col-md-4 p-3">
        <h5>Social Media</h5><hr>
        <h5><a href="https://www.instagram.com/accounts/login/?hl=en"><i class="bi bi-instagram"></i></a></h5>
        <h5><a href="https://www.facebook.com/login/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNjk4ODYzNzI4LCJjYWxsc2l0ZV9pZCI6MjY5NTQ4NDUzMDcyMDk1MX0%3D"><i class="bi bi-facebook"></i></a></h5>
        <h5><a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"><i class="bi bi-twitter"></i></a></h5>
        

    </div><!--social media end-->
</div><!--footer section end or third row end-->
</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
</body>
</html>